<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP-Adresse gesperrt | IP-address blocked</title>
</head>
<body>
<div class="title">
    <h3>403 - Forbidden</h3>
    <h1>IP-Adresse gesperrt | IP-address blocked</h1>
</div>
<div class="deutsch">
    <h3>Deutsch</h3>
    <p>Unsere automatisierten Überwachungssysteme haben den Zugriff auf diesen Server von ihrer IP-Adresse vorsorglich gesperrt.
        Falls Sie denken, dass es sich dabei um einen Fehler handelt, kontaktieren Sie bitte die Betreiberin.</p>
    <p>Ihre IP-Adresse lautet: {{ ip }}</p>
</div>
<div class="english">
    <h3>English</h3>
    <p>Our automated monitoring systems have blocked access to this server from your IP address as a precaution.
        If you think this is a mistake, please contact the operator of this server.</p>
    <p>Your IP-address is: {{ ip }}</p>
</div>
</body>
</html>