{% extends '_base.html' %}

{% block b_title %}{% endblock %}
{% block b_stylesheet %}{{ stylesheet }}{% endblock %}
{% block b_navbar %}{% endblock %}
{% block b_onload %}{% endblock %}
{% block b_account_name %}{{ account | safe }}{% endblock %}
{% block b_account %}
    {% if is_signed_in %}
        <ul class="navbar-bottom-list">
            <li class="navbar-bottom-element" id="nbe-1-0"><a class="navbar-link" href="/konto/abmelden">Abmelden</a></li>
            <li class="navbar-bottom-element" id="nbe-1-1"><a class="navbar-link" href="/konto/einstellungen">Einstellungen</a></li>
        </ul>
    {% else %}
        <ul class="navbar-bottom-list">
            <li class="navbar-bottom-element" id="nbe-1-2"><a class="navbar-link" href="/konto/anmelden">Anmelden</a></li>
            <li class="navbar-bottom-element" id="nbe-1-3"><a class="navbar-link" href="/konto/registrieren">Registrieren</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block b_content %}
    <h1 class="centered">Quelltext</h1>
    <p>Der Quelltext (englisch: source code) ist der für Menschen lesbare Text eines Computerprogramms. In ihm stehen
        alle Abläufe.</p>
    <p>Der Transparenz zuliebe ist der Quelltext von dieser Webseite auf
        <a href="https://github.com/MartinMerkli/merkli.me">GitHub</a> verfügbar. Jede*r Nutzer*in kann somit überprüfen,
        ob die Datenschutzrichtlinien so umgesetzt werden, wie diese <a href="/nutzungsbedingungen">hier</a> geschrieben
        stehen. Ausserdem kann jede*r Änderungen vorschlagen.</p>
    <p><b>Die Lizenz zum Quelltext erfüllt nicht die Open-Source-Definition (OSD) und hat nicht das Ziel diese zu erfüllen.</b></p>
{% endblock %}
